html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#14233c')
    link(rel='manifest' href='manifest.json')
    link(rel='shortcut icon' type='image/png' href='/favicon.png')
    style
      include main.min.css
    title Monzo Balance
  body
    block content
      
    script(async src='https://www.googletagmanager.com/gtag/js?id=UA-113967441-1')
    script.
      if('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js', { scope: '/' })
          .then(function(registration) {
                console.log('Service Worker Registered');
          });
        navigator.serviceWorker.ready.then(function(registration) {
           console.log('Service Worker Ready');
        });
      }
    
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date())
      gtag('config', 'UA-113967441-1')
